body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    display: flex;
    top:0;
    width: 98%;
    height: auto;
}
.left-links {
    /* flex: 3 1 700px; */
    flex: 3 1 3000px;
}
li {
    font-size: .8em;
   font-family: sans-serif;
   
}
a {
    text-decoration: none;
    display: inline-block;
    color: black;
}
@media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: .8em;
    }
    .nav li {
        display: inline-block;
        /* margin-right: -4px; */
    }
}
.main {
    margin: 0 auto;
    text-align: center;
}
#input {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    width: 450px;
    border: 0.25px solid rgb(214, 214, 214);
    border-radius: 25px;
    background: url(167px-Google_mic.svg.png) no-repeat;
    background-size: 14px;
    background-position: 95% 50%;
  
}
#input:focus {
   outline: none;
}
.logo {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1rem;
}
button {
    border: none;
    background-color: #f8f9fa;
    padding: 10px;
    color: #8b8b8b;
}
button:hover {
    border: 0.5px solid#bdbdbe;
}